open-telemetry/opentelemetry-operator-amd64/opentelemetry-operator-linux-amd64 filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
open-telemetry/opentelemetry-operator-amd64/manager filter=lfs diff=lfs merge=lfs -text
